<form method="post" action="{% url 'pro_simulaciones' %}?action=edit_concepto&id={{ concepto.pk }}" onsubmit="return enviar_formulario(this)">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Editar concepto esperado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        {% include "simulador/pro_simulaciones/_form_concepto.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary">Guardar cambios</button>
    </div>
</form>
