<form action="{% url 'pro_cursos' %}" method="post" onsubmit="return enviar_formulario(this)">
    {% csrf_token %}
    <input type="hidden" name="action" value="add_asignacion">
    <input type="hidden" name="seccion" value="{{ seccion.pk }}">
    <div class="modal-header">
        <h5 class="modal-title">Asignar simulacion a {{ seccion.materia_malla.materia.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Asignar tarea</button>
    </div>
</form>
